.User {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.box {
  padding: 1rem;
  border-radius: 0.5rem;
  /* box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2); */
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
}

@media (max-width: 767px) {
  .User {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
