.user-info {
  text-align: center;
  color: #345;
  line-height: 1.5;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.nickname {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 10px;
}

.bio {
  max-width: 350px;
}
